{% extends 'base/layout.html' %}
{% block content %}
<nav aria-label="Sample list page">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Package</th>
            <th scope="col">MD5</th>
            <th scope="col">status</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.completed_on }}</td>
                <td>{{ task.package }}</td>
                <td>{{ task.sample.md5 }}</td>
                <td>
                    <a href="{{ url_for('report', idx=task.id) }}">{{ task.status }}</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}