<h4>TCP</h4>
 {% if report.network.tcp %}
        <table class="table table-striped table-sm">
            <tr>
                <th>SRC ADDR</th>
                <th>SRC PORT</th>
                <th> </th>
                <th>DSC ADDR</th>
                <th>DSC POSRT</th>
            </tr>
        {% for p in report.network.tcp %}
            <tr>
                <td>{{ p.src }}</td>
                <td>{{ p.sport }}</td>
                <td> -----------> </td>
                <td>{{ p.dst }}</td>
                <td>{{ p.dport }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
                <p>No traffic</p>
    {% endif %}