<h4>OLE Streams</h4>
<table class="table table-sm table-striped">
    <tr>
        <th>Name</th>
        <th>sid</th>
        <th>compressed</th>
        <th>type_literal</th>
        <th>size</th>
        <th>Stream(Hex)</th>
        <th>Stream(Raw)</th>
    </tr>
{% for key, data in report.static.office.streams.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ data.meta.sid }}</td>
        <td>{{ data.meta.compressed }}</td>
        <td>{{ data.meta.type_literal }}</td>
        <td>{{ data.meta.size }}</td>
        <td>{{ data.stream_content|to_hex|truncate(40) }}</td>
        <td>{{ data.stream_content|truncate(40) }}</td>
    </tr>
{% endfor %}
</table>

<h4>Macros</h4>
<table class="table table-striped">
<tr>
    <th>name</th>
    <th>stream</th>
    <th>macro code</th>
</tr>
{% for office in report.static.office.macros %}
    <tr>
        <td>{{ office.filename }}</td>
        <td>{{ office.stream }}</td>
        <td>
            <pre>
            {{ office.orig_code }}
            </pre>
        </td>
    </tr>
{% endfor %}
</table>