<h4>OLE Streams</h4>
<table class="table table-sm table-striped">
    <tr>
        <th>Name</th>
        <th>sid</th>
        <th>compressed</th>
        <th>type_literal</th>
        <th>size</th>
        <th>Stream(Hex)</th>
        <th>Stream(Raw)</th>
        <th>download</th>
    </tr>
{% for key, data in report.static.office.streams.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ data.meta.sid }}</td>
        <td>{{ data.meta.compressed }}</td>
        <td>{{ data.meta.type_literal }}</td>
        <td>{{ data.meta.size }}</td>
        <td>{{ data.stream_content|to_hex|truncate(40) }}</td>
        <td>{{ data.stream_content|truncate(40) }}</td>
        <td>
            <a href="{{ url_for('stream_download', idx=report.info.id, key='office', sid=data.meta.sid) }}">
                download
            </a>
        </td>
    </tr>
{% endfor %}
</table>

<h4>Macros</h4>
<table class="table table-striped">
<tr>
    <th>name</th>
    <th>stream</th>
    <th>macro code</th>
</tr>
{% for office in report.static.office.macros %}
    <tr>
        <td>{{ office.filename }}</td>
        <td>{{ office.stream }}</td>
        <td>
            {% if office.deobf == 'xlm_macro.txt' %}
                {% if 'EXEC' in office.orig_code %}
                    <pre class="alert alert-danger">
                        {{ office.orig_code|find_exec }}
                    </pre>
                {% else %}
                    <pre class="alert alert-primary">
                        {{ office.orig_code|find_exec }}
                    </pre>
                {% endif %}
            {% else %}
                <pre>
                {{ office.orig_code }}
                </pre>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>