<div class="tab-pane fade" id="static">
{% if "PE32" in report.target.file.type %}
    {% include "analysis/Static/_pe32.html" %}
{% elif "ELF" in report.target.file.type %}
    {% include "analysis/Static/_elf.html" %}
{% elif "office" in report.static %}
    {% include "analysis/Static/_office.html" %}
{% elif "pdf" in report.static %}
    {% include "analysis/Static/_pdf.html" %}
{% elif 'hwp' in report.static %}
    {% include "analysis/Static/_hwp.html" %}
{% else %}
    No static analysis available.
{% endif %}
</div>
